{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <form action="/add_order_to_database/" method="POST" id="form">
            {% csrf_token %}
            <table>
                <tr>
                    <td><h1>Order No. : </h1></td>
                    <td><input type="text" id="ordernumber" name="ordernumber" required></td>
                </tr>
                <tr>
                    <td>Customer ID : </td>
                    <td><input type="text" id="customernumber" name="customernumber" required></td>
                </tr>
                <tr>
                    <td>Item :</td>
                    <td>
                        <table border="1" id="table">
                            <tr>
                                <th>Product Code</th>
                                <th>Qty</th>
                                <td><input style="width: 100%;" type="button" onclick="addtr()" value="Add"></td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="code" style="width: 100%;">
                                        {% for p in product %}
					<!--<option id="code" value="{{ p.productcode }}">{{ p.productcode }}</option>-->
                                            <option value="{{ p.productcode }}">{{ p.productcode }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input style="width: 100%;"type="number" id="qty" required></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <button type="button" name="count" id="count" onclick="post()">Submit</button>
            <button type="button"><a href="/emp_stock-in">Cancel</a></button>
        </form>
    </div>
    
    <script>
        var num = 0;

        function addtr() {
            var Code = document.getElementById("code").value,
                Qty = document.getElementById("qty").value;
	    console.log(Code)
            if (Code == "" || Qty == "") {
                alert("Please fill an input.")
                return false;
            }
            var row = document.createElement("tr");

            document.getElementById("count").value = num ;
            for (var i = 0; i < 2; i++) {
                var cell = document.createElement("td");
                if (i == 0) {
                    var cellText = document.createElement("Input");
                    cell.appendChild(cellText);
                    cellText.value = Code;
                    cellText.id = "productcode" + num;
                    cellText.setAttribute("name", "productcode" + num);
                }
                else {
                    var cellText = document.createElement("Input");
                    cell.appendChild(cellText);
                    cellText.value = Qty
                    cellText.id = "quantity" + num;
                    cellText.setAttribute("name", "quantity" + num);
                }
                row.appendChild(cell);
            }
            document.getElementById("table").appendChild(row);
            num++;
        }

        function post() {
            if(num == 0) alert("Please Add product.")
            else{
                document.getElementById("form").submit();
            }
        }

    </script>
{% endblock content %}
