{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <form action="/emp_customer/" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Employee No. : </td>
                    <td>{{ employee.employeenumber }}</td>
                </tr>
                <tr>
                    <td>Jobtitle : </td>
                    <td><input type="text" name="jobtitle" id="jobtitle" value="{{ employee.jobtitle }}"></td>
                </tr>
            </table>
            <button type="submit" name="employeenumber" id="employeenumber" value="{{ e.employeenumber }}">Submit</button>
            <button type="button"><a href="/emp_ERM">Cancel</a></button>
        </form>
    </div>
{% endblock content %}