{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <form action="/update_emp_order/{{ order.ordernumber }}/" method="POST">
            {% csrf_token %}
                <table>
                    <tr>
                        <h1>Order No. : {{ order.ordernumber }}</h1>
                    </tr>
                    <tr>
                        <td>Customer ID : </td>
                        <td>{{ order.customernumber.customernumber }}</td>
                    </tr>
                    <tr>
                        <td>Item :</td>
                        <td>
                            <table border="1">
                                <tr>
                                    <th>Product Code</th>
                                    <th>Qty</th>
                                </tr>
                                {% for od in orderdetail %}
                                <tr>
                                    <td>{{ od.productcode.productcode }}</td>
                                    <td>{{ od.quantityordered }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Status : </td>
                        <td>
                            <select name="status" id="status">
                                <option value="Shipped">Shipped</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Disputed">Disputed</option>
                                <option value="On Hold">On Hold</option>
                                <option value="Resolved">Resolved</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Comments : </td>
                        <td><textarea name="comments" id="comments" cols="30" rows="10">{{ order.comments }}</textarea></td>
                    </tr>
                    <tr>
                        <td>Chack Number : </td>
                        <td><input type="text" name="checknumber" id="checknumber"></td>
                    </tr>
                    <tr>
                        <td>Discount Code : </td>
                        <td><input type="text" name="discountcode" id="discountcode"></td>
                    </tr>
            </table>
            <button type="submit" name="productcode" id="productcode" value="{{ p.productcode }}">Submit</button>
            <button type="button"><a href="/emp_order">Cancel</a></button>
        </form>
    </div>
{% endblock content %}