{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <form action="/update_emp_stock/{{ product.productcode }}/" method="POST">
            {% csrf_token %}
            <table>
                <tr><h1>Product Code : {{ product.productcode }}</h1></tr>
                <tr>
                    <td>Product Name : </td>
                    <td><input type="text" name="productname" id="productname" name="productname" value="{{ product.productname }}"></td>
                </tr>
                <tr>
                    <td>Product Line : </td>
                    <td><input type="text" name="productline" id="productline" value="{{ product.productline.productline }}"></td>
                </tr>
                <tr>
                    <td>Product Scale : </td>
                    <td><input type="text" name="productscale" id="productscale" value="{{ product.productscale }}"></td>
                </tr>
                <tr>
                    <td>Product Vendor : </td>
                    <td><input type="text" name="productvendor" id="productvendor" value="{{ product.productvendor }}"></td>
                </tr>
                <tr>
                    <td>Product Description : </td>
                    <td><textarea name="description" id="description" cols="30" rows="10">{{ product.productdescription }}</textarea></td>
                </tr>
                <tr>
                    <td>Quantity In Stock : </td>
                    <td><input type="text" name="quantity" id="quantity" value="{{ product.quantityinstock }}"></td>
                </tr>
                <tr>
                    <td>Buy Price : </td>
                    <td><input type="text" name="price" id="price" value="{{ product.buyprice }}"></td>
                </tr>
                <tr>
                    <td>MSRP : </td>
                    <td><input type="text" name="msrp" id="msrp" value="{{ product.msrp }}"></td>
                </tr>
            </table>
            <button type="submit" name="productcode" id="productcode" value="{{ product.productcode }}">Submit</button>
            <button type="button"><a href="/emp_stock-in">Cancel</a></button>
        </form>
        <button type="button" ><a href="/delete_emp_stock/{{ product.productcode }}/">Delete</a></button>
    </div>
{% endblock content %}