<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit-Order</title>
</head>
<body>
    <div><a href="/emp_order.html"><-Back</a></div>
    <div>
        <form action="emp_order.html" method="POST">
            {% for o in order %}
                <table>
                    <tr><h1>Order No. : {{ o.ordernumber }}</h1></tr>
                    <tr>
                        <td>Customer ID : </td>
                        <td><input type="text" value="{{ o.customernumber }}"></td>
                    </tr>
                    <tr>
                        <td>Item</td>
                    </tr>
                </table>
            {% endfor %}
        </form>
    </div>
</body>
</html>