{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <form action="emp_order.html" method="POST">
                <table>
                    <tr>
                        <h1>Order No. : {{ order.ordernumber }}</h1>
                    </tr>
                    <tr>
                        <td>Customer ID : </td>
                        <td>{{ order.customernumber }}</td>
                    </tr>
                    <tr>
                        <td>Item :</td>
                        <td>
                            <table border="1">
                                <tr>
                                    <th>Product Code</th>
                                    <th>Qty</th>
                                </tr>
                                {% for od in orderdetail %}
                                <tr>
                                    <td>{{ od.productcode }}</td>
                                    <td>{{ od.quantityordered }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Status : </td>
                        <td><input type="text" value="{{order.status}}"></td>
                    </tr>
                    <tr>
                        <td>Discount Code : </td>
                        <td>put discount here!</td>
                    </tr>
            </table>
            <button type="submit" name="productcode" id="productcode" value="{{ p.productcode }}">Submit</button>
            <button><a href="/emp_stock-in">Cancel</a></button>
        </form>
    </div>
{% endblock content %}