{% extends "web/base.html" %}
{% block content %}

    <div class="body-container-nav">
        <a href="/emp_stock-in.html">Stock-in</a>
        <a href="/emp_order.html">Order</a>
        <a href="/emp_customer.html">Customer</a>
        <a href="/emp_ERM.html">ERM</a>
        <a href="/emp_add-coupon.html">Add Coupon</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Customer No.</th>
                <td>Edit</td>
            </tr>
            {% for o in order %}
            <tr>
                <td>{{ o.ordernumber }}</td>
                <td>{{ o.status }}</td>
                <td>{{ o.customernumber }}</td>
                <td><a href="/order/edit_order.html">Click!</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}