<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add-Coupon</title>
</head>
{% block content %}
<body>
    <div>
        <a href="/emp_stock-in/">Stock-in</a>
        <a href="/emp_order/">Order</a>
        <a href="/emp_customer/">Customer</a>
        <a href="/emp_ERM/">ERM</a>
        <a href="/emp_add-coupon/">Add Coupon</a>
    </div>
    <div>
        <table>
            <tr>
                <td>Code:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Qty:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Expire:</td>
                <td><input type="text"></td>
            </tr>
        </table>
        <button type="submit">Add Coupon</button>
    </div>
</body>
{% endblock %}
</html>