{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>Customer No.</th>
                <th>Company Name</th>
                <th>Customer Contact</th>
                <th>Phone No.</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>Country</th>
                <td>Edit</td>
            </tr>
            {% for c in customer %}
            <tr>
                <td>{{ c.customernumber }}</td>
                <td>{{ c.customername }}</td>
                <td>{{ c.contactlastname }} {{ c.contactfirstname }}</td>
                <td>{{ c.phone }}</td>
                <td>{{ c.addressline1 }}</td>
                <td>{{ c.postalcode }}</td>
                <td>{{ c.country }}</td>
                <td>
                    <form action="/edit_customer/{{c.customernumber}}/" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="customernumber" name="customernumber" value="{{ c.customernumber }}">Click!</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
