<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
</head>
{% block content %}
<body>
    <div>
        <a href="/emp_stock-in.html">Stock-in</a>
        <a href="/emp_order.html">Order</a>
        <a href="/emp_customer.html">Customer</a>
        <a href="/emp_ERM.html">ERM</a>
        <a href="/emp_add-coupon.html">Add Coupon</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Customer No.</th>
                <td>Edit</td>
            </tr>
            {% for o in order %}
            <tr>
                <form action=""></form>
                <td>{{ o.ordernumber }}</td>
                <td>{{ o.status }}</td>
                <td>{{ o.customernumber }}</td>
                <td>
                    <form action="order/edit_order.html" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="ordernumber" name="ordernumber" value="{{ o.ordernumber }}">Click!</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% endblock %}
</html>