{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>Employee No.</th>
                <th>Employee Name</th>
                <th>Employee Job</th>
                <td>Edit</td>
            </tr>
            {% for e in employee %}
            <tr>
                <td>{{ e.employeenumber }}</td>
                <td>{{ e.lastname }} {{ e.firstname }}</td>
                <td>{{ e.jobtitle }}</td>
                <td>
                    <form action="/edit_ERM/{{ e.employeenumber }}/" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="employeenumber" name="employeenumber" value="{{ e.employeenumber }}">Click!</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
