<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock-in</title>
</head>
{% block content %}
<body>
    <div>
        <a href="/emp_stock-in.html">Stock-in</a>
        <a href="/emp_order.html">Order</a>
        <a href="/emp_customer.html">Customer</a>
        <a href="/emp_ERM.html">ERM</a>
        <a href="/emp_add-coupon.html">Add Coupon</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Product Vendor</th>
                <th>Product Scale</th>
                <th>Product Quantity</th>
                <td>Edit</td>
            </tr>
            {% for p in product %}
            <tr>
                <td>{{ p.productname }}</td>
                <td>{{ p.productvendor }}</td>
                <td>{{ p.productscale }}</td>
                <td>{{ p.quantityinstock }}</td>
                <td><a href="/product/edit_stock.html">Click!</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% endblock %}
</html>