{% extends "web/base.html" %}
{% block content %}
    <div class="body-container-nav">
        <a href="/emp_stock-in.html">Stock-in</a>
        <a href="/emp_order.html">Order</a>
        <a href="/emp_customer.html">Customer</a>
        <a href="/emp_ERM.html">ERM</a>
        <a href="/emp_add-coupon.html">Add Coupon</a>
    </div>
    <div>
        <table>
            <tr>
                <td>Code:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Qty:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Expire:</td>
                <td><input type="text"></td>
            </tr>
        </table>
        <button type="submit">Add Coupon</button>
    </div>

{% endblock content %}