{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <h1>Add new order <a href="/add_order/">Click!</a></h1><br>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Customer No.</th>
                <td>Edit</td>
            </tr>
            {% for o in order %}
            <tr>
                <form action=""></form>
                <td>{{ o.ordernumber }}</td>
                <td>{{ o.status }}</td>
                <td>{{ o.customernumber.customernumber }}</td>
                <td>
                    <form action="/edit_order/{{ o.ordernumber }}/" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="ordernumber" name="ordernumber" value="{{ o.ordernumber }}">Click!</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}