{% extends "web/base-emp.html" %}
{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>Employee No.</th>
                <th>Employee Name</th>
                <th>Employee Job</th>
            </tr>
            {% for e in employee %}
            <tr>
                <td>{{ e.employeenumber }}</td>
                <td>{{ e.lastname }} {{ e.firstname }}</td>
                <td>{{ e.jobtitle }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
