<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" type="text/css">
    <title>Index</title>
</head>

<body>
    <nav>
        <div class="nav-container">
            <h3 class="nav-logo" style="color: lightpink;">CHOPPINK</h3>
            <div class="nav-link">
                <a href="./index.html">Home</a>
                <a href="./product.html">Product</a>
            </div>
        </div>
        <div class="nav-container-left">
            <div class="left-sidebar">
                sLorem ipsum, dolor sit amet consectetur adipisicing elit.
                Corporis dolore maxime aliquam tempore voluptatem fugit deserunt praesentium temporibus voluptate
                id consectetur error, recusandae saepe sit sapiente laudantium earum obcaecati quibusdam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Corporis dolore maxime aliquam tempore voluptatem fugit deserunt praesentium temporibus voluptate
                id consectetur error, recusandae saepe sit sapiente laudantium earum obcaecati quibusdam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Corporis dolore maxime aliquam tempore voluptatem fugit deserunt praesentium temporibus voluptate
                id consectetur error, recusandae saepe sit sapiente laudantium earum obcaecati quibusdam.
            </div>
        </div>
    </nav>
    <div class="body-container-right">
        <div class="section">
            <div class="section-header">
                <h3 class="section-heading">Recommend</h3>
            </div>
        </div>
        <div class="section">
            <div class="section-card">
                
            </div>
        </div>
    </div>
</body>

</html>
