
*
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
html,body{
    margin-top:0px;
}
nav 
{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000000;
    float:right;
    padding: 0%;
    position: fixed;
}

nav .nav-container 
{
    width: 100%;
    height: 100%;
    line-height: 65px;
    background: burlywood;
}

nav .nav-container .nav-logo
{
    margin:0;
    padding-left:20px;
    padding-right:20px;
    display: inline;
    font-size: 35px;
    color: rgb(78, 158, 250);
}

nav .nav-container .nav-link 
{
    margin: 0 ;
    display:inline;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

nav .nav-container a
{
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}

nav .nav-container a.nav-link-right
{
    float: right;
}

.left-sidebar
{
padding: 15px;
float: left;
width:100%;
height: 100%;
border-block: solid 1px black;
background: burlywood;
}

.body-container-right
{
    margin-top: 60px;
    width: 80%;
    margin-bottom: 20px;
    margin-right: 30px;
    float:right;

}

.nav-container-left
{
    margin-top: 0 auto;
    width: 15%;
    margin-bottom: 20px;
    margin-right: 30px;
    float:left;

}
.body-container-bottom
{
    display: block;
    width: 100%;
    margin: 20px;
    text-align: center;
    color:rgb(78, 158, 250);
    font-family: inherit;
}
.body-container .left-navbar
{
    width: 15%;
    color: aqua;
    background-color: brown;
}
.login-container
{
    width: 400px;
    margin-top: 65px;
}

.section .section-header
{
    margin-top: 60px;
    border-bottom: 1px solid black;
}

.section::after
{
    display: block;
    content: "";
    clear: both;
}

.section .section-header .section-heading
{
    margin: 0;
    font-size: 40px;
    display: inline-block;
    width: 50%;
    color: rgb(78, 158, 250);
}

.section .section-header .section-heading-show
{
    margin: 0;
    font-size: 20px;
    display: inline-block;
    width: 50%;
    color: rgb(78, 158, 250);
}

.section .section-header a
{
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    float: right;
    color: cadetblue;
}

.section-cards
{
    margin: 18px;
}

.section-card-left
{
    height: 500px;
    width: 33.33%;
    float: left;
}

.section-card-right
{
    height: 33.33;
    width: 30.33%;
    float: right;
    margin:15px;
    padding-left: 10px;
}

.card-bottom-row
{
    padding-top:10px ;
}

.card 
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px black;
}

.card .card-img
{
    width: 100%;
    background-position: center;
    background-size: cover;
}

.card-img-280
{
    height: 280px;
}

.card-img-160
{
    height: 160px;
}

.card .card-content
{
    padding:10px;
}

.card .card-content .card-title
{
    color: darkblue;
    font-size:20px ;
    margin: 0;
}

.card .card-content .card-title > a
{
    color: inherit;
    text-decoration: none;
    margin: 0;
}

.card .card-content .card-exam
{
    color: gray;
    overflow: hidden;
}

.card .card-content .card-credit
{
    bottom: 0;
    color: black;
}

.login-header
{
    text-align: center;
    font-size:50px;
    font-weight: 300;
    color: rgb(78, 158, 250);
    margin: 0;
}
.login-input
{
    display: block;
    width: 100%;
    height: 42px;
    margin: 0px;
    margin-top:10px ;
    font-family: inherit;
}

.login-btn
{
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-family:inherit;
    background-color: rgb(78, 158, 250);
    color:white;
    border: 1px solid white;
    font-size:30px ;
}

.reg-btn
{
    display: block;
    font-size:30px;
    color:rgb(78, 158, 250);
    text-align: center;
    text-decoration: none;
    margin-top:10px;
    margin-bottom: 10px;
}
